html {
  background-color: #1f1d2c;
  /* line-height: 1.5; */
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --navbar-height: 4rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: #e5e5e5;
  text-decoration: none;
}

a:hover {
  color: #f1a600;
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  border-radius: 2rem;
}

footer {
  text-align: center;
  margin: 1.5rem;
  font-weight: 600;
  color: #f1a600;
  background-color: #242635;
}

/** Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  color: #e5e5e5;
  z-index: 1;
  transition: all .2s ease;
  background-color: #1f1d2c;
}

.navbar__container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  justify-content: end;
}

.menu {
  width: 100%;
  margin-right: 1rem;
  z-index: 2;
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu__link {
  color: #e5e5e5;
  font-weight: 500;
  transition: .2s ease-in-out;
}

.menu__link:hover {
  color: #f1a600;
}

/* hasta los 768PX, 0 - 768 */
@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: -50%;
    left: 0;
    width: 100%;
    background-color: #1f1d2c;
    padding: 2rem 0 2rem;
    transition: all .1s ease-in;
  }

  .menu.show--menu {
    top: 0;
  }

  .menu__list {
    flex-direction: column;
    margin: 1.5rem;
    gap: 1.5rem;
  }

  .menu--close {
    position: absolute;
    display: inline-block;
    top: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
  }

  .menu--open {
    margin-right: 2rem;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 5rem;
  }

  .menu--close {
    display: none;
  }

  .menu__list {
    justify-content: end;
    font-size: 1.2rem;
    gap: 4rem;
  }

  .menu--open {
    display: none;
  }
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: var(--navbar-height);
}

/** utilidades */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}


@media (max-width: 769px) {

  /** home */
  .home__content {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .home__info {
    width: 100%;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__name {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 600;
  }

  .home__description {
    padding: 0 1.3rem;
    font-size: 1.2rem;
    font-weight: 200;
  }

  .home__image {
    position: relative;
    width: 16rem;
  }

  .home__social {
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
  }

  .home__social span {
    font-weight: 500;
    color: #f1a600;
  }

  .home__icons {
    gap: 1.5rem;
  }

  .home__icons img {
    width: 2.5rem;
    border-radius: 0;
  }

  .about {
    color: #e5e5e5;
    background-color: #242635;
    padding: 2rem 2rem;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .about__title {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .about__description {
    font-size: .8rem;
    font-weight: 200;
  }

  .about__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
  }

  .about__icons img {
    width: 4rem;
  }

  .about__icons span {
    font-weight: 600;
  }

  /** Experience */
  .experience {
    color: #e5e5e5;
    background-color: #1f1d2c;
    padding: 1rem 3rem;
  }

  .experience__content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    align-self: flex-start;
    font-size: 0.7rem;
  }

  .experience__title {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .experience1,
  .experience2,
  .experience3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .experience__description {
    align-self: start;
  }

  .experience__description span {
    font-weight: 600;
    font-size: .8rem;
  }

  .experience img {
    width: 4rem;
  }

  .skills__image {
    border-radius: 1rem;
    width: 5rem;
    background-color: #e5e5e5;
  }

  .years {
    font-size: 1rem;
    font-weight: 600;
  }

  /** Projects */
  .projects {
    padding: 0 4rem;
    margin: 4rem 0;
    text-align: center
  }

  .project__title {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .project__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  /** Contact */
  .contact {
    padding: 2.5rem 3rem;
    background-color: #242635;
  }

  .contact__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .contact__form {
    background-color: #242635;
    max-width: 80%;
    margin-left: 2.5rem;
    border-radius: 1rem;
  }

  .header__contact {
    width: 100%;
    background-color: #1f1d2c;
    overflow: hidden;
    color: #f1a600;
    border-radius: 1rem;
  }

  .header__image {
    font-size: 2rem;
    display: block;
    text-align: center;
  }

  .form {
    padding: .5rem;
    overflow: hidden;
    color: #e5e5e5;
  }

  .form label,
  .form input,
  .form textarea {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 0.3rem;
  }

  .form label {
    font-size: .8rem;
    font-weight: 400;
  }

  .form input:not([type='submit']),
  .form textarea {
    border: none;
    border-bottom: 2px solid #f1a600;
    margin-bottom: .4rem;
    font-size: .7rem;
    outline: none;
    color: #242635;
  }

  .form textarea {
    min-height: 100px;
  }

  input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: #f1a600;
    color: #242635;
    font-size: 1rem;
    cursor: pointer;
  }

  .contact__icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
  }

  .phone,
  .mail {
    width: 4rem;
    font-size: .6rem;
    font-weight: 300;
    text-align: center;
  }

  .phone span,
  .mail span {
    font-weight: 600;
    color: #f1a600;
  }

  footer {
    text-align: center;
    margin: 1rem;
    font-weight: 300;
    color: #f1a600;
    font-size: 0.8rem;
  }
}

/** VERSION WEB*/

@media (min-width: 768px) {
  .home {
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
  }

  .home__content {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
  }

  .home__info {
    flex-direction: column;
    text-align: start;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .home__name {
    font-size: 3.2rem;
    font-weight: 600;
  }

  .home__description {
    padding: 0.5rem 2rem 1rem 0;
    font-size: 1.3rem;
    font-weight: 200;
  }

  .home__image {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 30rem;
  }

  .home__social {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-right: 3rem;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 300;
    gap: 1rem
  }

  .home__social span {
    color: #f1a600;
    font-weight: 600;
  }

  .home__icons {
    justify-content: space-between;
    gap: 3rem;
  }

  .home__icons img {
    width: 2.7rem;
    border-radius: 0;
  }

  /** About */
  .about {
    padding: 2rem 2rem;
    height: auto;
    background-color: #242635;
  }

  .about__content {
    flex-direction: column;
    text-align: center;
  }

  .about__info {
    margin: 3rem 3.5rem;
  }

  .about__title {
    font-size: 3rem;
    font-weight: 600;
  }

  .about__description {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .about__icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* gap: 2; */
  }

  .about__icons img {
    width: 6rem;
  }

  /** Experience */
  .experience {
    color: #e5e5e5;
    background-color: #1f1d2c;
    padding: 2rem 2rem;
  }

  .experience__content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    align-self: flex-start;
    font-size: 1rem;
  }

  .experience__title {
    font-size: 3rem;
    font-weight: 500;
  }

  .experience1,
  .experience2,
  .experience3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .experience__description {
    align-self: start;
  }

  .experience__description span {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .skills__image {
    border-radius: 1rem;
    width: 5rem;
    background-color: #e5e5e5;
  }

  /* .experience img {
    width: 4rem;
    height: 4rem;
  } */

  .years {
    font-size: 1.3rem;
    font-weight: 600;
  }

  /** Projects */
  .projects {
    background-color: #242635;
    padding: 3.5rem 1rem;
  }

  .project__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: max-content;
    padding: 2rem;
  }

  .projects h2 {
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
    justify-content: center;
  }

  .project__container {
    border-radius: 2rem;
    box-shadow: 3px 3px 8px #1f1d2c;
  }

  /** Contact */
  .contact {
    padding: 2rem 2rem;
  }

  .contact__title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .contact__items {
    display: grid;
    padding: 1rem;
    gap: 1.5rem;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__form {
    background-color: #1f1d2c;
    max-width: 80%;
    margin-left: 5rem;
  }

  .header__contact {
    width: 100%;
    background-color: #242635;
    overflow: hidden;
    color: #f1a600;
    border-radius: 2rem;
  }

  .header__image {
    font-size: 4rem;
    display: block;
    text-align: center;
    padding: .5rem;
  }

  .form {
    padding: .5rem;
    overflow: hidden;
    color: #e5e5e5;
  }

  .form label,
  .form input,
  .form textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 0.4rem;
  }

  .form label {
    font-weight: 400;
  }

  .form input:not([type='submit']),
  .form textarea {
    border: none;
    border-bottom: 2px solid #f1a600;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    color: #242635;
  }

  .form textarea {
    min-height: 100px;
  }

  input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: #f1a600;
    color: #242635;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .contact__icons {
    width: max-content;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
    padding: 5rem;
  }

  .phone {
    width: 8rem;
  }

  .mail {
    width: 8rem;
    text-align: center;
    margin-top: 5rem;
  }

  .phone span {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }

  .phone p {
    font-size: .8rem;
    font-weight: 400;
    color: grey;
  }

  .mail span {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
  }

  .mail p {
    font-size: 0.8rem;
    font-weight: 400;
    color: grey;
  }
}